// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './svgicon.scss';
@import './common.scss';
@import './element-ui.scss';
@import './collapse-page.scss';
@import './dialog-page.scss';
/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: 'Noto Sans KR',-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

label {
  font-weight: 700;
}

.app-container {
  padding: 0px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

// Refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

aside {
  background: #eef1f6;
  color: #2c3e50;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.page-title {
      margin: 14px 0 10px 0;
      color: $col-text-grey;
      font-size: $font-size3;
      font-weight: $font-medium;
      line-height: 24px;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
  }
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}


.info-box__text {
        flex: 1;
        padding: 0 16px;
        color: $col-neutral-00;
        text-align: left; // IE 11
        &.time {
          color: $col-primary;
          font-size: 22px;
          font-weight: $font-medium;
        }
}

.no-padding {
  padding: 0px !important;
}

// searchbox
.page-searchbox-wrapper {
  position: relative;
  padding: 16px 145px 16px 32px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #e8e8e8;
  background: $col-neutral-11;
  // margin-top: 1em;
  // margin-left: 1em;
  // margin-right: 1em;
  &.searchbox-two-btn {
    padding-right: 232px;
  }
  &.searchbox-grey {
    padding-right: 128px;
    border-radius: 0;
    background: $col-neutral-10;
    box-shadow: none;

    &.without-button {
      padding-right: 32px;
    }
  }
  .el-row {
    padding: 8px 0;
    .el-col {
      display: flex;
      padding-left: 32px;
      align-items: center;
      .page-searchbox__item-title {
        min-width: 74px;
        padding-right: 2%;
        color: $col-neutral-03;
        font-size: $font-size5;
        font-weight: $font-medium;
        line-height: 16px;
      }
      .page-searchbox__item {
        display: flex;
        flex: 1;
        .el-select {
          display: block;
          width: 100%;
        }
        .el-date-editor {
          width: 50%;
          margin-right: 2%;
          display: block;
          flex: 1;
        }
        .el-radio-group {
          margin-left: 25px;
        }
      }
      &:first-child {
        padding: 0;
      }
      .el-select {
        width: 100%;
      }
    }
  }
  .page-searchbox-action {
    position: absolute;
    right: 32px;
    bottom: 24px;
    margin: 0;
    .el-button + .el-button {
      margin-left: 5px;
    }
  }
}

// table action
.table__action {
  .table__action--left,
  .table__action--right {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 28px;
    vertical-align: middle;

    .el-button + .el-button {
      margin-left: 4px;
    }
  }

  .table__action--left {
    left: 0;
  }

  .table__action--right {
    right: 0;
    &.tip--right {
      padding-top: 10px;
      color: $col-neutral-04;
      font-size: $font-size6;
    }
  }
}

.datatable:not(.table-area) {
  border-spacing: 0;
  border-bottom: 1px solid #ebebeb;
  thead {
    th {
      position: relative;
      height: 36px;
      padding: 0 16px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #fbfbfb;
      color: $col-neutral-04;
      font-weight: $font-medium;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        width: 1px;
        height: 12px;
        margin-top: -6px;
        background: $col-neutral-08;
      }

      &:first-child:before {
        display: none;
      }
    }
  }
  tbody {
    td {
      height: 40px;
      padding: 0 16px;
      border-top: 1px solid #ddd;
      text-align: center;
    }
    tr:first-child {
      td {
        border: none;
      }
    }
  }
}

.table__body .el-table {
    background-color: transparent;
    border: 0 none;

    &:before {
      background-color: $col-neutral-07;
    }

    &.el-table--medium {
      th,
      td {
        padding: 0;
      }
    }

    &.el-table--border {
      th,
      td {
        border-right-color: transparent;
      }
    }

    .el-table__header {
      background-color: #fbfbfb;
      thead {
        tr {
          & + tr {
            th {
              overflow: visible;
              border-top: none;
              &:first-child {
                &:before {
                  display: block;
                  left: 0;
                  top: auto;
                  bottom: 0;
                  height: 200%;
                }
              }
            }
          }
        }
        th {
          // height: 36px;
          border-top: 1px solid $col-neutral-08;
          border-bottom: 1px solid $col-neutral-08;
          background-color: #fbfbfb;
          color: $col-neutral-04;
          font-weight: $font-medium;
          text-align: center;
          vertical-align: initial;

          &:before {
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            width: 1px;
            height: 12px;
            margin-top: -6px;
            background: $col-neutral-08;
          }

          &:first-child:before {
            display: none;
          }
          .cell {
            padding: 0 16px;
            line-height: 20px;
            word-break: keep-all;
          }
        }
      }
    }
    &:not(.el-table--group) {
      thead {
        th {
          height: 36px;
        }
      }
    }

    //Grouping table head
    &.el-table--group {
      thead {
        // TR at the top
        tr {
          th {
            &:not(.is-leaf) {
              height: 24px;
              border-left: 1px solid $col-neutral-08;

              &::before {
                content: '';
                width: 0;
              }

              & + .is-leaf {
                border-left: 1px solid $col-neutral-08;

                &::before {
                  content: '';
                  width: 0;
                }
              }
            }
          }
          // TR at the bottom
          & + tr {
            th {
              height: 24px;
              border-left: 1px solid $col-neutral-08;

              &::before {
                content: '';
                width: 0;
              }
            }
          }
        }
      }
    }

    .el-table__body-wrapper {
      .el-table__body {
        tr {
          &:hover {
            background-color: rgba($color: $col-primary, $alpha: 0.1);
            .el-radio {
              &:not(.is-disabled) {
                .el-radio__input {
                  .el-radio__inner {
                    border-color: $col-primary;
                  }
                }
              }
            }
          }
          td {
            height: 40px;
            color: $col-neutral-00;
            font-weight: $font-regular;
            border-bottom: 1px solid $col-neutral-09;

            > .cell {
              padding: 0 16px;
              white-space: nowrap; // 생략 부호 생기게...
            }

            //router-link
            .router-link-active {
              display: inline-block;
              border-bottom: 1px solid $col-primary;
              color: $col-primary;
            }

            .el-button {
              // button in tooltip, table
              &.el-tooltip {
                width: 100%;
                min-width: 100%;
                color: inherit;
              }

              // button in table
              min-width: 60px;
              padding-top: 4.5px;
              padding-bottom: 4.5px;
              color: $col-primary;
              font-size: $font-size6;
              border-color: $col-primary;
              // background-color: transparent;

              // &:active,
              // &:focus,
              // &:hover {
              //   border-color: inherit;
              //   background: $col-white;
              // }
            }

            .el-input--medium {
              .el-input__inner {
                height: 28px;
                line-height: 28px;
              }
              .el-input__icon {
                line-height: 28px;
              }
            }

            .unit-box {
              display: flex;
              align-items: center;
              [class^='el-'] {
                flex: 1;
              }
              .unit-text {
                margin-left: 10px;
              }
            }
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

.pagination-container {
  margin-top: 30px;
}

.no-data {
      .content-details-wrapper {
        margin-top: 0;
      }
    }

    //메인 - 상세
    .content-details-wrapper {
      position: relative;
      width: 100%;
      // margin-top: 32px;
      padding: 18px 32px 32px;
      border-radius: 3px;
      background-color: $col-neutral-11;

      &.with-accordion {
        margin-top: 0;
      }
    }

.page-searchbox-wrapper.searchbox-grey_title {
  & + .content-details-wrapper {
    .common-no-data {
      min-height: calc(100vh - 373px);
    }
  }
  & + .page-searchbox-wrapper {
    & + .content-details-wrapper {
      .common-no-data {
        min-height: calc(100vh - 518px);
      }
    }
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
  height: 260px;
  width: 220px;
  .tooltip-inner {
    height: 260px;
    width: 220px;
    color: gray;
    border-radius: 16px;
    padding: 5px 10px 4px;
    background-color: gray;
  .popover-content-item {
    
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
      width: 160px;
    }
    .select-warpper {
      padding-top: 5%;
    }
  }
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}


